#list {
  color: darkcyan;
  border: 5px solid rgb(241, 233, 199);
  width: 300px;
  border-radius: 10px;
  box-shadow: 5px 5px;
  margin: 10px;
}

.App {
  text-align: center;
  border: 5px solid darkcyan;
  background-color: rgb(240, 247, 222);
  padding: 30px;
  border-radius: 10px;
}

.container {
  display: flex;
  justify-content: center;
  padding: 30px;
  align-items: center;
}

h1 {
  color: black;
}

body {
  background-color: azure;
  display: flex;
  justify-content: center;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

p {
  display: inline-block;
}

button {
  border: 2px solid cornsilk;
  border-radius: 5px;
  background-color: blanchedalmond;
  padding: 10px;
  margin: 5px;
  color: darkcyan;
}

#submitBtn {
  border: 2px solid darkcyan;
  color: darkcyan;
  border-radius: 5px;
  background-color: blanchedalmond;
  padding: 5px;
  margin: 5px;
}

li {
  list-style: none;
}
